<!-- 建图launch文件 -->
<launch>
    <!--
        唤起turtlebot
    -->
    <include file="$(find turtlebot_bringup)/launch/minimal.launch" /> 
    
    <!-- 
        设置Gmapping包如下
    -->
    <!-- 设置摄像头参数  确保摄像头参数正确-->
    <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
        <arg name="rgb_processing" value="false" />
        <arg name="depth_registration" value="false" />
        <arg name="depth_processing" value="false" />
        <arg name="scan_topic" value="/scan" />
        <arg name="3d_sensor" value="kinect"/>
    </include>

    <!-- 使能谷歌导航 -->
    <node name="cartographer_node" pkg="cartographer_ros"  
        type="cartographer_node" args="  
            -configuration_directory $(find cartographer_ros)/configuration_files  
            -configuration_basename rplidar.lua"  
        output="screen">  
    <remap from="scan" to="scan" />  
  </node>  

  <node name="rviz" pkg="rviz" type="rviz" required="true"  
        args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />  
    
</launch>
